body {
  background: #fff !important; }

#main-container {
  background: #fff !important; }

.top1 {
  background: #205081 !important;
  background-color: #205081 !important; }

.top2 {
  background: #205081 !important;
  background-color: #205081 !important; }

.footer {
  background-color: #f5f5f5 !important;
  color: #898989 !important; }
  .footer a {
    color: #898989 !important; }

.portlet-header.ui-widget-header.ui-corner-all {
  background-color: #205081 !important;
  color: #fff !important;
  border: none; }

#top-links-navbar-collapse-2 .btn-primary:hover, #top-links-navbar-collapse-2 .btn-primary:focus, #top-links-navbar-collapse-2 .btn-primary:active, #top-links-navbar-collapse-2 .btn-primary.active {
  background-color: #57a4d3 !important; }
  #top-links-navbar-collapse-2 .open > .dropdown-toggle.btn-primary {
    background-color: #57a4d3 !important; }
  #top-links-navbar-collapse-2 .nav > li > a {
    background-color: #205081;
    color: #fff; }
  #top-links-navbar-collapse-2 .nav > li > a.hover {
    background: #057eba !important;
    color: #fff !important; }

.navbar-default .navbar-nav {
  /*nav-tabs*/ }
  .navbar-default .navbar-nav li > a:hover, .navbar-default .navbar-nav li > a:focus {
    color: white;
    background-color: #045fa6;
    background-image: none; }
  .navbar-default .navbar-nav li > .dropdown-menu {
    background-color: #fff;
    color: #000; }
  .navbar-default .navbar-nav .open > a {
    color: white;
    background-color: #045fa6;
    background-image: none; }
    .navbar-default .navbar-nav .open > a:focus, .navbar-default .navbar-nav .open > a:hover {
      color: white;
      background-color: #045fa6;
      background-image: none; }

.nav-tabs > li > a {
  background: #fff !important;
  color: #205081 !important; }
  .nav-tabs li a {
    color: #205081 !important;
    background: #fff !important; }
    .nav-tabs li a:hover {
      background: #eee !important;
      color: #205081 !important; }
  .nav-tabs li.active > a {
    background: #205081 !important;
    color: #fff !important; }
    .nav-tabs li.active > a:hover {
      background-color: #205081 !important;
      color: #fff !important; }

.ui-tabs-nav .ui-state-default:not(.ui-state-active), .ui-accordion-header {
  background: #fff !important;
  color: #205081 !important; }

.ui-tabs-nav .ui-state-default:not(.ui-state-active):hover, .ui-accordion-header:hover {
  background: #eee !important;
  color: #205081 !important; }

.ui-tabs-nav li.ui-tabs-active, .ui-accordion-header-active {
  background: #205081 !important;
  color: #fff !important; }

.ui-tabs-nav li.ui-tabs-active:hover, .ui-accordion-header-active:hover {
  background: #205081 !important;
  color: #fff !important; }

#tabsSubnavItems > .nav-tabs li:not(.li-parent).active a {
  background: #205081 !important;
  color: #fff !important; }
  #tabsSubnavItems > .nav-tabs li:not(.li-parent).active a:hover {
    background: #205081 !important;
    color: #fff !important; }

.k-state-selected {
  background-color: #ebf2f9 !important;
  color: #003f59 !important; }
  .k-state-selected:link, .k-state-selected:visited {
    background-color: #ebf2f9 !important;
    color: #003f59 !important; }

.k-list .k-state-selected, .k-list .k-state-highlight {
  background-color: #ebf2f9 !important;
  color: #003f59 !important; }

.k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover {
  background-color: #ebf2f9 !important;
  color: #003f59 !important; }

.k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected {
  background-color: #ebf2f9 !important;
  color: #003f59 !important; }

.k-marquee-color {
  background-color: #ebf2f9 !important;
  color: #003f59 !important; }

.btn-save {
  background-color: #205081 !important;
  color: #fff !important; }

.open > .dropdown-toggle.btn-info {
  background-color: #205081 !important;
  color: #fff !important; }

.btn-info:hover, .ui-dialog-buttonset .ui-button:hover {
  background-color: #4796e6; }

.btn-group .btn.btn-save.btn-add-dropdown.modal-save-btn {
  background-color: #205081 !important;
  color: #fff !important; }
  .btn-group:hover .btn.btn-save.btn-add-dropdown.modal-save-btn:hover {
    background-color: #4796e6 !important;
    color: #fff !important; }

.navbar-nav > li .dropdown-toggle-create-override {
  background: #13a34b !important;
  color: white !important; }
  .navbar-nav > li .dropdown-toggle-create-override:hover, .navbar-nav > li .dropdown-toggle-create-override:focus {
    background: #13a34b !important;
    color: white !important; }

.open > .dropdown-toggle.btn-default {
  background-color: #fff; }

.bootstrap-select .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
  background-color: #fff;
  color: black; }

#fixed-board-filters {
  background-color: #fff; }

#universal_search {
  color: #fff;
  background: #93ccfa; }

.has-feedback .form-control-feedback {
  color: rgba(255, 255, 255, 0.6) !important; }

#universal_search::-webkit-input-placeholder, #universal_search::-moz-placeholder, #universal_search:-ms-input-placeholder {
  color: #606a71; }
  #universal_search::placeholder {
    color: #606a71;
    /* Firefox */
    opacity: 1; }
  #universal_search:-ms-input-placeholder {
    color: #606a71; }
  #universal_search::-ms-input-placeholder {
    color: #606a71; }

#fixed-navbar {
  background-color: white !important; }

.breadcrumb {
  background-color: white !important; }

#header_div .navbar-collapse .nav > li:not(.li-parent) > a:hover, #header_div .navbar-collapse .dropdown-menu li:not(.li-parent) a:hover {
  background: #057eba !important;
  color: #fff !important; }
  #header_div.navbar-default .navbar-nav > .open > a {
    background: #205081 !important;
    color: #fff !important; }
  #header_div.navbar-default .navbar-nav > .open > a:hover, #header_div.navbar-default .navbar-nav > .open > a:focus {
    background: #205081 !important;
    color: #fff !important; }
  #header_div.navbar-collapse .nav > li > a.nav-popover:hover, #header_div.navbar-collapse .dropdown-menu a.nav-popover:hover {
    background: #057eba !important;
    color: #fff !important; }
  #header_div.navbar-default .navbar-nav > li > a:hover, #header_div.navbar-default .navbar-nav > li > a:focus {
    background: #205081 !important;
    color: #fff !important; }
  #header_div.navbar-nav > li > a {
    background: #205081 !important;
    color: #fff !important; }

#header_div ul.dropdown-menu li a {
  color: #000 !important; }

.btn-info, .btn-primary {
  background-color: #205081 !important;
  color: #fff !important; }
  .btn-info:focus, .btn-primary:focus, .btn-info:active, .btn-primary:active {
    background-color: #4796e6 !important;
    color: #fff !important; }
  .btn-info:hover, .btn-primary:hover {
    background-color: #4796e6 !important;
    color: #fff !important; }
  .btn-info.hover, .btn-primary.hover {
    background-color: #4796e6 !important;
    color: #fff !important; }

div.bhoechie-tab-menu div.list-group > a.list-group-item.hover {
  background-color: #205081 !important;
  color: #fff !important; }

div.bhoechie-tab-menu div.list-group > a.active {
  background-color: #205081 !important;
  color: #fff !important; }

div.bhoechie-tab-menu div.list-group > a {
  background-color: #fff !important;
  color: #205081 !important; }

div.bhoechie-tab-menu div.list-group > a:hover {
  background-color: #eee !important;
  color: #205081 !important; }

div.bhoechie-tab-menu a.list-group-item.text-center.active:hover {
  background-color: #205081 !important;
  color: #fff !important; }

button.menu_add_new {
  background-color: #277abe !important;
  color: #fff !important; }
  button.menu_add_new:hover {
    background-color: #4593e3 !important; }
  button.menu_add_new:active {
    background-color: #4593e3 !important; }
