body {
    background: $footer_background_body !important;
}

#main-container {
    background: $footer_background_body !important;
}
.top1 {
    background: $menu_background_color !important;
    background-color:$menu_background_color !important;
}
.top2 {
    background: $menu_background_color !important;
    background-color: $menu_background_color !important;
}

.footer {
    background-color: $footer_background_color !important;
    color: $footer_text_color !important;
    a{
        color: $footer_text_color !important;
    }
}

.portlet-header.ui-widget-header.ui-corner-all {
    background-color: $tabs_header_active_background_color !important;
    color: $tabs_header_active_text_color !important;
    border: none;
}



#top-links-navbar-collapse-2 {
    .btn-primary {
        &:hover, &:focus, &:active, &.active {
            background-color: #57A4D3 !important;
        }
    }
    .open > .dropdown-toggle.btn-primary {
        background-color: #57A4D3 !important;
    }
    .nav>li>a{
        background-color: $menu_background_color;
        color: $menu_text_color;
    }
    .nav>li>a.hover{
        background: $menu_background_hover_color !important;
        color: $menu_text_hover_color !important;
    }

}
.navbar-default .navbar-nav {
    li > a {
        &:hover, &:focus {
            color: white;
            background-color: #045fa6;
            background-image: none;
        }

    }
    li > .dropdown-menu{
        background-color: $menu_dropdown_background_color;
        color: $menu_dropdown_text_color;
    }
    .open > a {
        color: white;
        background-color: #045fa6;
        background-image: none;
        &:focus, &:hover {
            color: white;
            background-color: #045fa6;
            background-image: none;
        }
    }
}
/*nav-tabs*/ 

.nav-tabs {
    > li > a {
        background: $tabs_header_background_color  !important;
        color: $tabs_header_text_color  !important;
    }
    li a {
        color: $tabs_header_text_color  !important;
        background: $tabs_header_background_color  !important;
        &:hover {
            background: $tabs_header_background_hover_color  !important;
            color: $tabs_header_text_hover_color  !important;
        }
    }
    li.active > a {
        background: $tabs_header_active_background_color  !important;
        color: $tabs_header_active_text_color  !important;
        &:hover {
            background-color: $tabs_header_active_background_hover_color !important;
            color: $tabs_header_active_text_hover_color !important;
        }
    }
}

.ui-tabs-nav .ui-state-default:not(.ui-state-active) , .ui-accordion-header{
    background: $tabs_header_background_color  !important;
    color: $tabs_header_text_color  !important;
}
.ui-tabs-nav .ui-state-default:not(.ui-state-active):hover , .ui-accordion-header:hover{
    background: $tabs_header_background_hover_color  !important;
    color: $tabs_header_text_hover_color  !important;
}
.ui-tabs-nav li.ui-tabs-active , .ui-accordion-header-active{
    background: $tabs_header_active_background_color  !important;
    color: $tabs_header_active_text_color  !important;
}
.ui-tabs-nav li.ui-tabs-active:hover , .ui-accordion-header-active:hover{
    background: $tabs_header_active_background_hover_color  !important;
    color: $tabs_header_active_text_hover_color !important; 
}
#tabsSubnavItems > .nav-tabs li:not(.li-parent).active a {
    background: $tabs_header_active_background_color  !important;
    color: $tabs_header_active_text_color  !important;
    &:hover {
        background: $tabs_header_active_background_hover_color  !important;
        color: $tabs_header_active_text_hover_color !important; 
    }
}


.k-state-selected {
    background-color: #ebf2f9 !important;
    color: #003f59 !important;
    &:link, &:visited {
        background-color: #ebf2f9 !important;
        color: #003f59 !important;
    }
}

.k-list {
    .k-state-selected, .k-state-highlight {
        background-color: #ebf2f9 !important;
        color: #003f59 !important;
    }
}

.k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover {
    background-color: #ebf2f9 !important;
    color: #003f59 !important;
}

.k-scheduler {
    .k-scheduler-toolbar .k-state-selected, .k-today.k-state-selected {
        background-color: #ebf2f9 !important;
        color: #003f59 !important;
    }
}

.k-marquee-color {
    background-color: #ebf2f9 !important;
    color: #003f59 !important;
}
.btn-save{
    background-color: $buttons_background_color !important;
    color:  $buttons_text_color !important;
}

.open > .dropdown-toggle.btn-info {
    background-color: $buttons_background_color !important;
    color:  $buttons_text_color !important;
}

.btn-info:hover, .ui-dialog-buttonset .ui-button:hover {
    background-color: #4796e6;
}
.btn-group {
    .btn.btn-save.btn-add-dropdown.modal-save-btn {
        background-color: $buttons_background_color !important;
        color:  $buttons_text_color !important;
    }
    &:hover .btn.btn-save.btn-add-dropdown.modal-save-btn:hover {
        background-color: $buttons_hover_background_color !important;
        color:  $buttons_hover_text_color !important;
    }
}
.navbar-nav > li {
    .dropdown-toggle-create-override {
        background: #13a34b !important;
        color: white !important;
        &:hover, &:focus {
            background: #13a34b !important;
            color: white !important;
        }
    }
}

.open > .dropdown-toggle.btn-default {
    background-color: #FFFFFF;
}

.bootstrap-select .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
    background-color: #FFFFFF;
    color: black;
}

#fixed-board-filters {
    background-color: #FFF;
}


#universal_search {
    color: $menu_universal_search_text_color;
    background: $menu_universal_search_background_color;
}

.has-feedback .form-control-feedback {
    color: rgba(255, 255, 255, 0.6) !important;
}

#universal_search {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: #606a71;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #606a71;
        opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:  #606a71;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #606a71;
    }
}
#fixed-navbar {
    background-color: white !important;
}
.breadcrumb {
    background-color: white  !important;
}
#header_div {

    .navbar-collapse {
        .nav > li:not(.li-parent) > a:hover, .dropdown-menu li:not(.li-parent) a:hover {
            background: $menu_background_hover_color !important;
            color: $menu_text_hover_color !important;
        }
    }
    &.navbar-default .navbar-nav > .open > a {
        background: $menu_background_color !important;
        color: $menu_text_color !important;
        &:hover, &:focus {
            background: $menu_background_color !important;
            color: $menu_text_color !important;
        }
    }
    &.navbar-collapse {
        .nav > li > a.nav-popover:hover, .dropdown-menu a.nav-popover:hover {
            background: $menu_background_hover_color !important;
            color: $menu_text_hover_color !important;
        }
    }
    &.navbar-default .navbar-nav > li > a {
        &:hover, &:focus {
            background: $menu_background_color !important;
            color: $menu_text_color !important;
        }
    }
    &.navbar-nav > li > a{
        background: $menu_background_color !important;
        color: $menu_text_color !important;
    }

}
#header_div ul.dropdown-menu li a{
    color: $menu_dropdown_text_color !important;
}
.btn-info , .btn-primary {
    background-color: $buttons_background_color !important;
    color:  $buttons_text_color !important;
    &:focus, &:active {
        background-color:  $buttons_hover_background_color !important;
        color:  $buttons_hover_text_color !important;
    }
    &:hover{
        background-color:  $buttons_hover_background_color !important;
        color:  $buttons_hover_text_color !important;
    }
    &.hover{
        background-color:  $buttons_hover_background_color !important;
        color:  $buttons_hover_text_color !important;
    }
}

div.bhoechie-tab-menu div.list-group>a.list-group-item.hover{
    background-color: $tabs_header_active_background_hover_color !important;
    color: $tabs_header_active_text_hover_color !important;
}
div.bhoechie-tab-menu div.list-group>a.active{
    background-color: $tabs_header_active_background_color !important;
    color: $tabs_header_active_text_color !important;
}
div.bhoechie-tab-menu div.list-group>a{
    background-color: $tabs_header_background_color !important;
    color: $tabs_header_text_color !important;
}
div.bhoechie-tab-menu div.list-group>a:hover{
    background-color: $tabs_header_background_hover_color !important;
    color: $tabs_header_text_hover_color !important;
}
div.bhoechie-tab-menu a.list-group-item.text-center.active:hover{
    background-color: $tabs_header_active_background_hover_color !important;
    color: $tabs_header_active_text_hover_color !important;
}
button.menu_add_new{
    background-color: $menu_add_new !important;
    color: $menu_text_color !important;
    &:hover{
        background-color: $menu_add_new_hover !important;
    }
    &:active{
        background-color: $menu_add_new_hover !important;
    }
}
