.ap-documents-actions-toolbar {
    margin-bottom: 10px;
    padding: 0px;

    .ap-documents-actions-toolbar-sides-container {
        padding: 0px;

        .ap-documents-actions-toolbar-side {

            .right {
                padding-right: 0px;
            }
        }
    }
}
