.field-row {
    margin-bottom: 8px;

    .field-row-item {
        
        .field-row-item-label {
            font-weight: 400;
        }

        .field-row-item-value {
            font-weight: 600;
        }
    }
}
