#ActiveTimersForm {
    .add-btn{
        margin: 0px 30px 15px 3px; 
        width: 150px;
        height: 30px;
        
    }
    .timer-container{
        max-height: 480px;
        overflow: auto;
    }
}