#profile-page {

    .flex-start {
        justify-content: flex-start;
    }

    .AP-page-header {
        margin-bottom: 20px;
    }
    
    .AP-page-body {
        display: flex;
        justify-content: flex-start;
        padding-right: 0px;
        padding-left: 0px;

        .user-profile-form-container {
            margin: 0;
            padding-right: 0px;
            padding-left: 0px;

            #user-profile-form {

                .user-profile-form-row {
                    margin-bottom: 25px;

                    .user-profile-form-row-item {

                        padding-right: 20px;

                        &.rtl{
                            padding-left: 20px;
                            padding-right: unset;
                        }
   
                    }

                    .MuiFormGroup-root {
                        margin-bottom: 0px;
                    }
                }

                .submit {
                    width: 30%;
                    max-width: 200px;
                }

                .divider {
                    margin: 20px 0px;
                }
            }
        }
    }
}
