/* Bootstrap */

#header_div ul.dropdown-menu li.li-child a, .subNavMenu li ul.dropdown-menu li.li-child a {
  padding-left: 30px;
}

.navbar-nav > li > a.nav-popover {
  margin-right: 5px;
  margin-top: 3px;
  padding: 9px 12px;
}

/* Kendo */

.k-toolbar.k-grid-toolbar .dropdown-menu {
  left: auto;
  right: 0;
}

/* css rules for Administration Default Values UI tabs*/

.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  li {
    clear: left;
    width: 100%;
    /*border-bottom-width: 1px !important; border-right-width: 0 !important;*/
    margin: 0 -1px .2em 0;
    &.ui-tabs-active {
      padding-bottom: 0;
      padding-right: .1em;
      /*border-right-width: 1px; border-right-width: 1px;*/
    }
  }
}

.ui-spinner-input {
  padding: 0 10px !important;
}

#top-links-navbar-collapse-2 {
  .btn-primary {
    &:hover, &:focus, &:active, &.active {
      border-color: transparent !important;
    }
  }
  .open > .dropdown-toggle.btn-primary {
    border-color: transparent !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.125) inset;
  }
}

.dropdown-header {
  padding-left: 13px;
}

@media (max-width: 360px) {
  .ui-dialog {
    width: 80% !important;
  }
  .k-toolbar.k-grid-toolbar {
    .pull-right {
      float: none !important;
    }
    .advanced-search {
      margin-top: 0px !important;
      padding-left: 19px !important;
    }
    .input-group {
      margin-bottom: 4px;
      margin-left: 15px;
    }
    .k-button-icontext {
      margin-left: 15px;
      margin-top: 5px;
    }
    .dropdown-menu {
      right: auto !important;
      left: 0 !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .k-toolbar.k-grid-toolbar .input-group {
    padding-left: 15px;
  }
}

.ui-multiselect div {
  &.selected {
    float: right !important;
    border-left: 1px solid !important;
  }
  &.available {
    border-left: none !important;
  }
}

.btn-default-previous {
  float: left;
}

.btn-default-end {
  float: none !important;
}