<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <directoryBrowse enabled="false" />
            <rewrite>
                <rules>
                    <rule name="Rewrite to index.php">
                        <match url="index.php|robots.txt|images|test.php|appVersions.json" />
                        <action type="None" />
                    </rule>
                    <rule name="Rewrite to Money" stopProcessing="true">
                        <match url="^modules/money/.*$" />
                        <action type="Rewrite" url="modules/money/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to saml" stopProcessing="true">
                        <match url="^saml/.*$" />
                        <action type="None" />
                    </rule>
                    <rule name="Rewrite to API" stopProcessing="true">
                        <match url="^modules/api/.*$" />
                        <action type="Rewrite" url="modules/api/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to Encoder Generator" stopProcessing="true">
                        <match url="^modules/encoder-generator/.*$" />
                        <action type="Rewrite" url="modules/encoder-generator/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to A4O" stopProcessing="true">
                        <match url="^modules/outlook/.*$" />
                        <action type="Rewrite" url="modules/outlook/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to Customer Portal" stopProcessing="true">
                        <match url="^modules/customer-portal/.*$" />
                        <action type="Rewrite" url="modules/customer-portal/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to Exporter Tool" stopProcessing="true">
                        <match url="^modules/exporter/.*$" />
                        <action type="Rewrite" url="modules/exporter/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to A4G" stopProcessing="true">
                        <match url="^modules/A4G/.*$" />
                        <action type="Rewrite" url="modules/A4G/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to Contract" stopProcessing="true">
                        <match url="^modules/contract/.*$" />
                        <action type="Rewrite" url="modules/contract/index.php/{R:0}" />
                    </rule>
                     <rule name="Rewrite to MOU" stopProcessing="true">
                        <match url="^modules/mou/.*$" />
                        <action type="Rewrite" url="modules/mou/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to microsoft-teams" stopProcessing="true">
                        <match url="^modules/microsoft-teams/.*$" />
                        <action type="Rewrite" url="modules/microsoft-teams/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to advisor-portal-module" stopProcessing="true">
                        <match url="^modules/advisor-portal/.*$" />
                        <action type="Rewrite" url="modules/advisor-portal/index.php/{R:0}" />
                    </rule>
                    <rule name="Rewrite to advisor-portal" stopProcessing="true">
                        <match url="^advisor-portal/.*$" />
                        <action type="Rewrite" url="advisor-portal/{R:0}" />
                    </rule>
                    <rule name="Rewrite to advisor-portal-api" stopProcessing="true">
                        <match url="^api/.*$" />
                        <action type="Rewrite" url="api/{R:0}" />
                    </rule>
                    <rule name="Rewrite CI Index">
                        <match url="^(.*)$" />
                        <conditions logicalGrouping="MatchAny">
                                <add input="{URL}" pattern="^.*\.(css|gif|png|jpg|jpeg|js|woff|woff2|ttf|ico|mp4|svg|eot)$" negate="true" />
                                <add input="{URL}" matchType="Pattern" pattern="/compressed_asset/" ignoreCase="true" negate="false" />
                        </conditions>	
                        <action type="Rewrite" url="index.php/{R:0}" />
                    </rule>

                </rules>
                <outboundRules>
                    <rule name="replace server header" patternSyntax="Wildcard">
                        <match serverVariable="RESPONSE_SERVER" pattern="*" />
                        <action type="Rewrite" value="" />
                    </rule>
                </outboundRules>
            </rewrite>
            <security>
                <requestFiltering allowDoubleEscaping="true">
                    <requestLimits maxAllowedContentLength="52428800" />
                </requestFiltering>
            </security>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Allow-Headers" value="x-api-key,x-api-channel" />
                </customHeaders>
            </httpProtocol>
            <staticContent>
                <remove fileExtension=".woff" />
                <!-- In case IIS already has this mime type -->
                <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
                <remove fileExtension=".woff2" />
                <!-- In case IIS already has this mime type -->
                <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
