#advisor-task-add-form {

    .more-fields-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;

        .more-fields-btn {
            font-weight: bold;
        }
    }

    .linear-progress {
        margin: 20px 0px;
    }
}
