#litigation-case-page-basic-view-details {
    padding-right: 0px;
    padding-left: 0px;

    .litigation-case-page-basic-view-field-row {
        margin-bottom: 8px;

        .litigation-case-page-basic-view-field-row-item {
            
            .litigation-case-page-basic-view-field-row-item-label {
                font-weight: 400;
            }
    
            .litigation-case-page-basic-view-field-row-item-value {
                font-weight: 600;
            }
        }
    }
}
