.litigation-case-hearings-table {
    padding-left: 0;
    padding-right: 0;

    .hearings-table-caption {
        margin-bottom: 5px;
    }

    .collapse {
        padding-left: 20px;

        .table-container {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}
