.litigation-case-stage-container {
    margin-bottom: 30px;

    .collapse-btn {
        padding-left: 0px;
        padding-right: 0px;
        min-width: 32px;
        max-width: 48px;
    }

    .edit-btn {
        margin-right: 5px;
    }

    .table-caption {
        margin-bottom: 15px;
        font-weight: 600;
    }

    .stage-tables {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .collapse {
        padding-left: 20px;
        padding-top: 10px;
    }

    .stage-tables {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .table-row {
        margin-bottom: 8px;
    }

    .litigation-case-stage-details-table-row-item-row {
        margin-bottom: 8px;
    }

    .label {
        font-weight: 400;
    }

    .value {
        font-weight: 600;
    }
}
