.litigation-case-stage-badge {
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px;
    border-radius: 5px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    // box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
}
