#subNavMenu {
  background-color: #E2BDAA;
  list-style: none outside none;
  margin: 0px;
  padding: 3px 15px;
  min-height: 25px;
  width: 100%;
  .active {
    background: none repeat-x scroll 0 0 #E3A180;
    border-radius: 4px 4px 4px 4px;
    line-height: 25px;
  }
}

.subNavMenu {
  > li {
    &:hover {
      background: none repeat-x scroll 0 0 #E3A180;
      border-radius: 4px 4px 4px 4px;
      margin-top: 3px;
      padding: 2px 0px;
      line-height: 25px;
    }
    &.active:hover {
      background: none repeat-x scroll 0 0 #E3A180;
      border-radius: 4px 4px 4px 4px;
      margin-top: 3px;
      padding: 2px 15px;
      line-height: 25px;
    }
    > a:hover {
      text-decoration: none;
      color: #3858B7;
    }
  }
  li > a {
    padding: 0px 8px;
  }
  .active a {
    padding: 0px;
  }
  li {
    display: inline-block;
    padding-bottom: 4px;
    ul.dropdown-menu li {
      display: block;
      a {
        padding: 3px 20px;
      }
    }
  }
  .navbar-brand {
    color: #428ACE;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 8px 20px;
    text-shadow: none;
  }
  li > a {
    color: #3858B7;
    text-decoration: none;
    font-weight: lighter;
  }
}

#subNavMenu {
  > li {
    padding: 0 0px;
    > a {
      &:hover {
        background: none repeat-x scroll 0 0 #E3A180;
        border-radius: 4px 4px 4px 4px;
      }
      &:focus {
        background-color: #E3A180;
      }
      color: #5958b3;
      padding: 8px;
    }
  }
  .open > a {
    background-color: #e3a180 !important;
    &:hover, &:focus {
      background-color: #e3a180 !important;
    }
  }
}

#entityDropDown {
  width: 240px;
  margin-top: 3px;
}

@media (max-width: 1090px) {
  #entityDropDown {
    width: 100%;
  }
}