.APTimerView {
    .MuiContainer-root{
        margin-bottom: 10px;
    } 
    .btn{
        margin: 3px;
        width: 150px;
        height: 30px;
    }

    .timer-comment-section,.task-section,.legal-case-section{
        margin-top: 15px;
    }
}