@import './../../../assets/styles/colors';

.badge {
    padding: 6px;
    color: $mainWhite;
    border-radius: 5px;
    font-weight: 700;

    &.badge-blue {
        background-color: $textBlue;
    }
    
    &.badge-yellow {
        background-color: $textYellow;
    }
    
    &.badge-green {
        background-color: $textGreen;
    }
}
