#contract-generate-container {
  fieldset {
    &:not(:first-of-type) {
      display: none;
    }

    padding-top: 6px;
    padding-left: 1px;
  }
  .screen-label{
    padding: 2px 10px;
  }
  .action-button {
    width: 100px;
    background: #3b7fc4;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    float: right;
  }

  .modal-header {
    h4 {
      margin: 10px 0px 20px 0px;
    }
  }

  .modal-container {
    .modal-header {
      background: #f8f7f742;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 0px;
    }
    .progress-padding{
      padding-bottom: 40px !important;
    }
    .modal-footer {
      background: #fdfdfd;
    }
  }

  .first-step {
    height: auto !important;
  }

  #fieldset1 {
    margin-top: 0px;
  }

  .modal-footer {
    img {
      width: 10px;
      filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(174deg) brightness(97%) contrast(107%);
    }

    .previous {
      border: solid 1px #D2CBCB !important;
      background-color: #F7F7F7 !important;
      color: #040404 !important;
      font-weight: 300;
      &:focus {
        border: none !important;
      }
      img{
        transform: scaleX(-1) !important;
        filter: none !important;
      }
    }
  }

  #form1 {
    .option-div {
      margin: 0px 23px 34px 17px;
      padding: 22px 65px 30px 66px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      border: solid 0.3px #caced5;
      background-color: #ffffff;
      padding: 30px 65px 30px 66px;
      text-align: center;
      width: 100%;
      height: 250px;
      margin: 0px 0px 34px 0px;
      &:hover {
        box-shadow: 0 10px 11px rgb(0 0 0 / 1%), 0 6px 5px rgb(0 0 0 / 22%);
      }

      .option{
        width: 103.5px;
        height: 102.8px;
        margin: 0 24.5px 29.2px 24px;
        object-fit: contain;
      }
      .img-label {
        height: 46px;
        margin: 29.2px 0 0;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: normal;
        text-align: center;
        color: #43425d;
        width: 100%;
        display: block;
        margin-top:  0px;
      }
    }

  }

  #fieldset2 {
    padding-top: 6px;
    padding-left: 3px;
  }

  #fieldset3 {
    #form3 {
      .col-md-12 {
        &:first-child {
          margin: 1px 0px 11px 0px;

          label {
            margin-top: 9px;
          }
        }
      }
      .group{
        margin-top: 17px;
        padding-left: 24px;
      }
    }
  }
}

.disabled-anchor {
  pointer-events: none;
  color: #ddd;
}
.empty-grid-container {
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  text-align: center;
  position: absolute;
  pointer-events: none;
  .empty-grid-content-container {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
  }

  .empty-grid-content-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .empty-grid-content-image, .empty-grid-content-text {
    float: left;
  }

  .empty-grid-content-image {
    margin-top: 9px;
  }

  .empty-grid-content-text {
    margin-top: 15px;
    text-align: left;
    padding-left: 20px;
  }

  .empty-grid-content-first-text {
    color: #58595b;
    font-size: 25px;
  }

  .empty-grid-content-second-text {
    color: #939598;
    font-size: 16px;
  }

  .empty-grid-content-third-text {
    color: #367fc2;
  }

}

.empty-grid-container-on-hover {
  border: 3px dashed #a7a9ac;
}
.text-align-right {
  text-align: right !important;
}

.width-100 {
  width: 100%;
}