#litigation-case-page-basic-view-custom-fields {
    padding-right: 0px;
    padding-left: 0px;

    .litigation-case-custom-fields-edit-btn {

        margin-top: 10px;
        margin-bottom: 30px;
    }
}
