.litigation-case-stage-status {
    font-size: 13px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 8px;
}
