#advisor-user-preferences {
    .MuiFormGroup-root{
        background-color: rgba(0, 0, 0, 0.04);
        max-width: 600px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}