.litigation-case-activity-details-row {

    .grid-row {
        margin-bottom: 8px;

        .grid-row-label {
            font-weight: 400;
        }

        .grid-row-value {
            font-weight: 600;
        }
    }
}
