#litigation-case-page-basic-view-tab {

    margin: 0;

    .litigation-case-page-basic-view-field-row {
        margin-bottom: 8px;

        .litigation-case-page-basic-view-field-row-item {
            
            .litigation-case-page-basic-view-field-row-item-label {
                font-weight: 400;
            }
    
            .litigation-case-page-basic-view-field-row-item-value {
                font-weight: 600;
            }
        }
    }
}
