.litigation-case-activity {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;

    .collapse-btn {
        padding-left: 0;
        padding-right: 0;
        min-width: 16px;
        max-width: 24px;
    }

    .edit-btn {
        margin-right: 5px;
    }

    .collapse {
        padding-left: 20px;
        padding-top: 10px;

        .collapse-container {
            padding-left: 0;
            padding-right: 0;

            .grid-row {
                margin-bottom: 8px;
            }
        }

        .related-data-container {
            padding-left: 0;
            padding-right: 0;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}
