
/****** Object:  Table [dbo].[opinion_url]    Script Date: 31/03/2025 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opinion_url](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[opinion_id] [bigint] NOT NULL,
	[document_type_id] [bigint] NOT NULL,
	[document_status_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NULL,
	[path] [nvarchar](255) NULL,
	[path_type] [nvarchar](255) NULL,
	[comments] [text] NULL,
	[createdOn] [smalldatetime] NULL,
	[createdBy] [bigint] NULL,
	[modifiedOn] [smalldatetime] NULL,
	[modifiedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [path]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [path_type]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [createdOn]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [createdBy]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [modifiedOn]
GO
ALTER TABLE [dbo].[opinion_url] ADD  DEFAULT (NULL) FOR [modifiedBy]
GO
ALTER TABLE [dbo].[opinion_url]  WITH CHECK ADD  CONSTRAINT [fk_opinion_url_1] FOREIGN KEY([opinion_id])
REFERENCES [dbo].[opinions] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[opinion_url] CHECK CONSTRAINT [fk_opinion_url_1]
GO
ALTER TABLE [dbo].[opinion_url]  WITH CHECK ADD  CONSTRAINT [fk_opinion_url_2] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[opinion_document_type] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[opinion_url] CHECK CONSTRAINT [fk_opinion_url_2]
GO
ALTER TABLE [dbo].[opinion_url]  WITH CHECK ADD  CONSTRAINT [fk_opinion_url_3] FOREIGN KEY([document_status_id])
REFERENCES [dbo].[opinion_document_status] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[opinion_url] CHECK CONSTRAINT [fk_opinion_url_3]
GO
