.dashboard-list-widget {

    .dashboard-list-widget-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;

        .dashboard-list-widget-row {
            border-bottom: 1px solid #ccc;
            padding: 15px !important;

            &:last-child {
                border: none;
            }

            .dashboard-hearings-list-widget-row-grid {
                
            }
        }
    }

    .dashboard-list-widget-footer {
        display: flex;
        align-items: center;
        align-self: flex-end;
        height: 60px;
        padding: 0px 20px !important;

        .view-all {
            font-size: 18px;
        }
    }

    .no-records {
        margin: auto;
        align-self: center;
    }

}

.widget-footer{
    bottom: 0;
    position: absolute;
    border-top: 1px solid rgba(200, 200, 200, 1);
    width: 100%;
}

.small-circle {
    position: absolute;
    right: 40px;
    width: 35px;
    height: 35px;
    margin: 0px 15px;

    &.rtl{
        right: auto;
        
        left: 40px;
    }
}
.close-button {
    position: absolute;
    right: 0;
    margin-left: 5px;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    top: 7px;

    &.rtl{
        right: auto;
        left: 0;
    }
}
