<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        # Disable Directory listing
        Options -MultiViews -Indexes

        # block files which needs to be hidden, specify .example extension of the file
        <Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock|key)$">
            Order allow,deny
            Deny from all
        </Files>

        # STRONG HTACCESS PROTECTION
        <Files ~ "^.*\.([Ee][Nn][Vv])">
            order allow,deny
            deny from all
            satisfy all
        </Files>
    </IfModule>
</IfModule>

RewriteEngine On
RewriteRule ^(attachments|import|logs|export|tmp) - [F,L]
