.litigation-case-page-general-info-panel-actions-toolbar {

    &.btns-container {
        margin: 0px 0px 20px;
        padding: 0px;
        max-width: 75%;
    }

    .edit-btn {
        margin-right: 40px;
    }

    .status-btn {
        margin-right: 10px;
    }
}
