.ap-collapse-row {
    margin-bottom: 15px;

    .ap-collapse-row-item {

        .ap-collapse-row-item-value-container {
            padding-left: 5px;
        }

        .ap-collapse-row-item-value {
            font-weight: 600;
        }
    }
}
