.litigation-case-page-header-actions-toolbar {

    &.btns-container {
        margin: 0px 0px 20px;
        padding: 0px;
        max-width: 75%;
    }

    .litigation-case-page-header-actions-toolbar-edit-btn {
        margin-right: 40px;
    }

    .litigation-case-page-header-actions-toolbar-status-btn {
        margin-right: 10px;
    }
}
