#corporate-matter-edit-form {

    .more-fields-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;

        .more-fields-btn {
            font-weight: bold;
        }
    }
}
